CompileFlags:
  CompilationDatabase: /Users/jreng/Documents/Poems/dev/end/Builds/Ninja/Debug
  Add:
    - -DDEBUG=1
    - -DDONT_SET_USING_JUCE_NAMESPACE=1
    - -DGL_SILENCE_DEPRECATION
    - -DHAVE_FCNTL_H
    - -DHAVE_FREETYPE
    - -DHAVE_UNISTD_H
    - -DJUCE_APPLICATION_NAME_STRING=\"END\"
    - -DJUCE_APPLICATION_VERSION_STRING=\"0.0.1\"
    - -DJUCE_GLOBAL_MODULE_SETTINGS_INCLUDED=1
    - -DJUCE_MODULE_AVAILABLE_jam_animation=1
    - -DJUCE_MODULE_AVAILABLE_jam_core=1
    - -DJUCE_MODULE_AVAILABLE_jam_data_structures=1
    - -DJUCE_MODULE_AVAILABLE_jam_debug=1
    - -DJUCE_MODULE_AVAILABLE_jam_fonts=1
    - -DJUCE_MODULE_AVAILABLE_jam_freetype=1
    - -DJUCE_MODULE_AVAILABLE_jam_fuzzy=1
    - -DJUCE_MODULE_AVAILABLE_jam_graphics=1
    - -DJUCE_MODULE_AVAILABLE_jam_gui=1
    - -DJUCE_MODULE_AVAILABLE_jam_javascript=1
    - -DJUCE_MODULE_AVAILABLE_jam_look_and_feel=1
    - -DJUCE_MODULE_AVAILABLE_jam_lua=1
    - -DJUCE_MODULE_AVAILABLE_jam_markdown=1
    - -DJUCE_MODULE_AVAILABLE_jam_style=1
    - -DJUCE_MODULE_AVAILABLE_jam_tui=1
    - -DJUCE_MODULE_AVAILABLE_juce_audio_basics=1
    - -DJUCE_MODULE_AVAILABLE_juce_audio_processors=1
    - -DJUCE_MODULE_AVAILABLE_juce_audio_processors_headless=1
    - -DJUCE_MODULE_AVAILABLE_juce_core=1
    - -DJUCE_MODULE_AVAILABLE_juce_data_structures=1
    - -DJUCE_MODULE_AVAILABLE_juce_events=1
    - -DJUCE_MODULE_AVAILABLE_juce_graphics=1
    - -DJUCE_MODULE_AVAILABLE_juce_gui_basics=1
    - -DJUCE_MODULE_AVAILABLE_juce_gui_extra=1
    - -DJUCE_MODULE_AVAILABLE_juce_opengl=1
    - -DJUCE_STANDALONE_APPLICATION=1
    - -DJUCE_TARGET_HAS_BINARY_DATA=1
    - -DJUCE_USE_CURL=0
    - -DJUCE_WEB_BROWSER=1
    - -D_DEBUG=1
    - -I/Users/jreng/Documents/Poems/dev/end/Builds/Ninja/Debug/END_App_artefacts/JuceLibraryCode
    - -I/Users/jreng/Documents/Poems/dev/end/Source
    - -I/Users/jreng/Documents/Poems/dev/end/../jam/jam_freetype/freetype/include
    - -I/Users/jreng/Documents/Poems/dev/end/../../JUCE/modules/juce_graphics/fonts/harfbuzz
    - -I/Users/jreng/Documents/Poems/dev/end/Builds/Ninja/Debug/juce_binarydata_END_App_BinaryData/JuceLibraryCode
    - -I/Users/jreng/Documents/Poems/JUCE/modules
    - -I/Users/jreng/Documents/Poems/dev/end/../jam
    - -I/Users/jreng/Documents/Poems/dev/end/../jam/jam_style/.
    - -I/Users/jreng/Documents/Poems/JUCE/modules/juce_audio_processors_headless/format_types/VST3_SDK
    - -I/Users/jreng/Documents/Poems/JUCE/modules/juce_audio_processors_headless/format_types/LV2_SDK
    - -I/Users/jreng/Documents/Poems/JUCE/modules/juce_audio_processors_headless/format_types/LV2_SDK/lv2
    - -I/Users/jreng/Documents/Poems/JUCE/modules/juce_audio_processors_headless/format_types/LV2_SDK/serd
    - -I/Users/jreng/Documents/Poems/JUCE/modules/juce_audio_processors_headless/format_types/LV2_SDK/sord
    - -I/Users/jreng/Documents/Poems/JUCE/modules/juce_audio_processors_headless/format_types/LV2_SDK/sord/src
    - -I/Users/jreng/Documents/Poems/JUCE/modules/juce_audio_processors_headless/format_types/LV2_SDK/sratom
    - -I/Users/jreng/Documents/Poems/JUCE/modules/juce_audio_processors_headless/format_types/LV2_SDK/lilv
    - -I/Users/jreng/Documents/Poems/JUCE/modules/juce_audio_processors_headless/format_types/LV2_SDK/lilv/src
    - -I/Users/jreng/Documents/Poems/dev/end/Builds/Ninja/Debug/juce_binarydata_jam_fonts_FontData/JuceLibraryCode
    - -g
    - -std=c++17
    - -arch
    - arm64
    - -mmacosx-version-min=12.0
    - -Wno-float-equal
    - -Wno-sign-conversion
    - -Wno-implicit-float-conversion
    - -Wno-switch-enum
    - -Wno-shadow
    - -Wno-unused-parameter
    - -Wno-deprecated-declarations
Diagnostics:
  MissingIncludes: None
  UnusedIncludes: None
