CompileFlags:
  CompilationDatabase: C:/Users/jreng/Documents/Poems/dev/end/Builds/Ninja/
  Add:
    - -D_WIN32=1
    - -DJUCE_WINDOWS=1
    - -DJUCE_MAC=0
    - -DJUCE_IOS=0
    - -DJUCE_LINUX=0
    - -IC:/Users/jreng/Documents/Poems/dev/jam
Diagnostics:
  MissingIncludes: None
  UnusedIncludes: None
